<ion-header>	
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/characters">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="data">{{ data.title }} details</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data">
    <ion-card-header>
      
      
        
        <ion-icon  (click)="unfavouriteEpisode()" *ngIf="isFavourite" class="starIcon"  name="star"></ion-icon>         
        <ion-icon  (click)="favouriteEpisode()" *ngIf="!isFavourite" class="starIcon"  name="star-outline"></ion-icon>         
        <ion-card-title>Episode: {{ data.title }}
        <ion-card-subtitle>{{ data.series }}</ion-card-subtitle>
      </ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
     <h5>Air Date: {{ data.air_date }}</h5>
     <strong>Characters:</strong>
     <ion-item *ngFor="let character of data.characters"> 
       <ion-label>
        {{character}}
       </ion-label>
     </ion-item>
    </ion-card-content>
  </ion-card>
  

</ion-content>
