<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Quote detail</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data">
    <ion-card-header>
      <ion-card-subtitle>{{ data.series }}</ion-card-subtitle>
      
    </ion-card-header>
  
    
    <ion-item>
      <h1 class="ion-text-justify">{{data.quote}}</h1>
    </ion-item>
    <ion-card-title class="ion-text-right">Author: {{ data.author }}</ion-card-title>
  </ion-card>
  
</ion-content>
