<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mobile CA2 - Michael Santos - 2019287</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-searchbar name="searchText" [(ngModel)]="searchText" showCancelButton="focus" cancelButtonText="Cancel"></ion-searchbar>

  <h1 class="ion-text-center">⚰️ Death Count</h1>
  <ion-list>
    <div *ngFor="let death of deathcount | async">
      <ion-item *ngIf="search(death)" >
      <p><em>{{ death.death }}</em> was dead by <strong>{{ death.responsible }}</strong></p>
    </ion-item>
    </div>
    
  </ion-list> 

  
  
</ion-content>