<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="characters">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="episodes">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quotes">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deathcount">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label>Death Count</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>