.starIcon{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 30px;
    color: yellow;
}

img {    
    height: auto;
    min-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  
 }