<ion-header>	
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/characters">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="data">{{ data.name }}</ion-title>    
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <ion-card *ngIf="data">
    <ion-card-header>
      <ion-card-subtitle>{{data.category}}</ion-card-subtitle>
      <ion-card-title>




        </ion-card-title>
      
      <img src="{{data.img}}">

      <ion-icon  (click)="unfavouriteCharacter()" *ngIf="isFavourite" class="starIcon"  name="star"></ion-icon>         
      <ion-icon  (click)="favouriteCharacter()" *ngIf="!isFavourite" class="starIcon"  name="star-outline"></ion-icon>         
      

        
        
      
      
    </ion-card-header>
  
    <ion-card-content>
     <p>Name: <strong>{{data.name}}</strong></p>
     <p>Nick Name: <strong>{{data.nickname}}</strong></p>
     <p>DOB: <strong>{{data.birthday}}</strong></p>
     <p>Portrayed: <strong>{{data.portrayed}}</strong></p>
     <p>Status: <strong>{{data.status}}</strong></p>     
    </ion-card-content>
  </ion-card>
 
</ion-content>