<ion-header>
  <ion-toolbar>
    <ion-title>quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

    <!-- <ion-list>
      <div *ngFor="let item of [1,2,3,4,5,6,7]">
        <ion-item *ngIf="search(item)" button detail lines="inset"  (click)="openDetails(quotes)">
          Name
        </ion-item>
      </div>
    
</ion-list> -->
  <ion-list>
    <div *ngFor="let quote of quotes | async">
      <ion-item *ngIf="search(quote)" button detail lines="inset"  (click)="openDetails(quote)">
        {{ quote.quote }}
      </ion-item>
    </div>
    
</ion-list>
</ion-content>
