<ion-header>
  <ion-toolbar>
    <ion-title>quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar name="searchText" [(ngModel)]="searchText" showCancelButton="focus" cancelButtonText="Cancel"></ion-searchbar>

  <ion-list>
    
    <div *ngFor="let quote of quotes | async">
      <ion-item  *ngIf="search(quote)" button detail lines="inset"  (click)="openDetails(quote)">
        
          
          <p class="ion-text-justify"><em>"{{ quote.quote }}"</em> - <strong>{{ quote.author }}</strong></p>
          
        
      </ion-item>
      
    </div>
    
</ion-list>
</ion-content>
