<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p>inicio</p>

  
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
          <ion-list>
        <ion-item button detail lines="inset" *ngFor="let character of characters | async" (click)="openDetails(character)">
          <p>{{ character.name }}</p>
        </ion-item>
        </ion-list>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <p>fim</p>
  
</ion-content>